/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f3e4;
    color: #333;
}

/* Navbar du haut */
.top-navbar {
    background-color: #d4a373;
    padding: 10px 0;
    text-align: center;
    position: fixed; /* Fixe la navbar en haut */
    top: 0; /* Place à la position top */
    width: 100%; /* Occupe toute la largeur */
    z-index: 1000; /* S'assure que la navbar reste au-dessus des autres éléments */
}

.top-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.top-navbar li {
    display: inline;
    margin: 0 15px;
}

.top-navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Section principale */
main {
    text-align: center;
    padding: 80px 20px; /* Ajout de padding pour éviter que le contenu ne soit caché par la navbar fixe */
}

main h1 {
    color: #d4a373;
}

/* Navbar du bas */
.bottom-navbar {
    background-color: #d4a373;
    padding: 10px 0;
    text-align: center;
    position: fixed; /* Fixe la navbar en bas */
    bottom: 0; /* Place à la position bottom */
    width: 100%; /* Occupe toute la largeur */
    z-index: 1000; /* S'assure que la navbar reste au-dessus des autres éléments */
}

.bottom-navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bottom-navbar li {
    display: inline;
    margin: 0 15px;
}

.bottom-navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Footer */
footer {
    margin-top: 20px;
}
