/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #ffae42;
    padding: 20px;
    text-align: center;
    color: #fff;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5rem;
    color: #ffae42;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input, button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #ffae42;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e69539;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #ffae42;
    color: #fff;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ffae42;
    color: #fff;
}


/* Navigation Bar Styles */
.top-navbar {
    background-color: #ffae42;
    padding: 10px 20px;
    text-align: center;
}

.top-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacement entre les liens */
}

.top-navbar ul li {
    display: inline;
}

.top-navbar ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.top-navbar ul li a:hover {
    background-color: #e69539;
    color: #000;
}


#searchType, #category {
    width: 200px; 
    padding: 10px; 
    font-size: 13px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}
label {
    font-size: 18px; 
    margin-right: 10px;
}